@font-face {
    font-family: "flaticon";
    src: url("../fonts/flaticon/font/flaticon.ttf?608b4b143ed80cd56c8c6cb5e368f89e") format("truetype"),
    url("../fonts/flaticon/font/flaticon.woff?608b4b143ed80cd56c8c6cb5e368f89e") format("woff"),
    url("../fonts/flaticon/font/flaticon.woff2?608b4b143ed80cd56c8c6cb5e368f89e") format("woff2"),
    url("../fonts/flaticon/font/flaticon.eot?608b4b143ed80cd56c8c6cb5e368f89e#iefix") format("embedded-opentype"),
    url("../fonts/flaticon/font/flaticon.svg?608b4b143ed80cd56c8c6cb5e368f89e#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-infrastructure:before {
    content: "\f101";
}
.flaticon-maintenance:before {
    content: "\f102";
}
.flaticon-meeting:before {
    content: "\f103";
}
.flaticon-presentation:before {
    content: "\f104";
}
